@charset "UTF-8";

/*=== GERAL =================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: yellow;
    --secondary-color: #ff0000;
    --darker-primary: rgb(163, 163, 3);
    --darker-secondary: rgb(88, 3, 3);

  
    font-size: 62.5%; /* 1rem = 10px */
  
    --nav-height: 7.2rem;
  }
  
  html {
    /* chrome://flags/#smooth-scrolling */
    scroll-behavior: smooth;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
  
    text-align: center;
  
    overflow: overlay;
  
    background-color: white;
  }
  
  .wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }
  
  section {
    padding-block: 10rem;
  }
  
  section header h4 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    color: var(--primary-color);
  
    text-transform: uppercase;
  
    margin-bottom: 1.6rem;
  }
  
  section header h2 {
    font-size: 3rem;
    line-height: 3.9rem;
  
    color: var(--headline);
  }
  
  section header h1 {
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;
  
    margin-bottom: 2.4rem;
  }
  a{
      font-family: 'DM sans', sans-serif;
      text-decoration: none;
      color: black;
      font-weight: 700;
    font-size: 2.4rem;
      
  }
  section .content p {
    font-weight: 400;
    font-size: 1.6rem;  
    line-height: 150%;  
  
    color: var(--paragraph);
  }

  .botao-redondo{
    background-color: var(--secondary-color);

    border: none;
    padding: 1.6rem 3.2rem;
    width: fit-content;

    text-align: center;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    font-size: 1.6rem;
    margin: 0.4rem 0.2rem;

    border-radius: 4rem;

    text-transform: uppercase;
   
    font-weight:700;
    color: white;

    margin-right: auto;
    margin-left: auto;

    transition: .3s;
}

.botao-redondo:hover{
  background-color: var(--darker-secondary);
  filter: brightness(1.1);
}
  button{
    cursor: pointer;
  }
/*=== NAVIGATION =================================*/
  nav {
    display: flex;
  
    height: var(--nav-height);
  
    position: fixed;
    top: 0;
    width: 100vw;
  
    z-index: 100;
  }
  
  nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav.scroll {
    background: var(--secondary-color);
  }
  
  nav.scroll .logo path {
    fill: white;
  }
  
  nav.scroll button path {
    stroke: white;
  }
  
  nav button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  
  /*=== MENU-EXPANDED =================================*/
  body.menu-expanded {
    overflow: hidden;
  }
  
  body.menu-expanded > :not(nav) {
    visibility: hidden;
  }
  
  .menu,
  .close-menu,
  body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
  }
  
  body.menu-expanded .menu,
  body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
  }
  
  .menu {
    transform: translateY(100%);
  }
  
  nav .menu, 
  nav .close-menu{
    position: fixed;
  }
  body.menu-expanded .menu {
    top: 0;
    left: 0;
    background: var(--primary-color);
  
    width: 100vw;
    height: 100vh;
  
    padding-top: var(--nav-height);
  
    transition: transform 300ms;
    transform: translateY(0);
    
  }
  
  .menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  
    margin-top: 6rem;
  
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
  }

  .menu ul li a {
    color: black;
    text-decoration: none;
  }
  .menu .button {
    background-color: var(--secondary-color);


    border: none;
    padding: 1.6rem 3.2rem;
    width: fit-content;

    text-align: center;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    font-size: 1.6rem;
    margin-top: 4.8rem;
    margin-bottom: 8rem;

    border-radius: 4rem;

    text-transform: uppercase;
   
    font-weight:700;
    color: white;

    margin-right: auto;
    margin-left: auto;

    transition: .3s;
  }

  .menu .button:hover{
    background-color: var(--darker-secondary);
  }
  
  .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
  }

  .social-links path{
    stroke: black;
  }
  
  body.menu-expanded .logo,
  body.menu-expanded button {
    position: relative;
    z-index: 100;
  }
  
  body.menu-expanded .logo path {
    fill: white;
  }
  
  body.menu-expanded button path {
    stroke: white;
  }
  
  
  
  /*=== #HOME =================================*/
  #home {
    padding-top: calc(4.1rem + var(--nav-height));
  }
  
  #home::before {
    content: '';
    width: 100%;
    height: calc(108rem + var(--nav-height));
    background-color: var(--primary-color);
    display: block;
  
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  #home p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph);
  
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
  }

  #home h4, h1{
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
  }
  
  #home img {
    /* width: 26.4rem; */
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
  } 
  
  #home .stats {
    width: 100%;
    padding-block: 4rem;
    margin-inline: auto;
  
    background-color: white;
    border: 1px solid black;
    border-radius: 0.6rem;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
  }
  
  #home .stat h3 {
    font-size: 4.8rem;
    color: black;
    line-height: 130%;
  
    margin-bottom: 0.4rem;
  }
  
  
  #home .stat p {
    margin: 0;
    color: black;
    font-size: 1.6rem;
    line-height: 150%;
  }
  
  /*=== SERVICES =================================*/
  #services header h2 {
    margin-bottom: 6rem;
  }

  #services .servicos{
    margin: 20rem auto 20rem auto;
  }
  
  #services #servicos-titulo{
    color: var(--secondary-color);
  }

  #services .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  
  #services .card {
    padding: 2.4rem;
    text-align: left;
  
    background: var(--secondary-color);
  
    border: 1px solid black;
    border-radius: 0.6rem;
  }
  
  #services .card h3 {
    margin-block: 1.6rem;
  }
  #services .card h3, #services .card  p{
      color: white;
  } 
  
  /*=== ABOUT =================================*/
  #about {
    text-align: left;
  }
  #about header h4{
      color: var(--secondary-color);
  }
  #about header h2 {
    margin-bottom: 2.4rem;
  }
  
  #about .content p {
    margin-top: 2.4rem;
    margin-bottom: 6rem;
  }

  /*===CONTACT =================================*/
  #contact{
    text-align: left;
  }

  #contact header{
    margin-bottom: 3.2rem;
  }

  #contact ul{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    margin-bottom: 3.2rem;
  }

  #contact ul li{
    display: flex;
    align-items: center;
    gap: .8rem;
  }

  .botao-redondo2{
    background-color: var(--secondary-color);

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 4rem;
    margin-bottom: 6rem;
    padding: 1.6rem 3.2rem;
    width: fit-content;

    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight:700;
    color: white;

    transition: .3s;
  }

  #contact ul li svg path{
    stroke: black;
  }
  /*=== FOOTER =================================*/
  footer{
    background: var(--primary-color);
    padding-block: 6rem;

    text-align: left;
  }

  footer p{
    line-height: 2;

    margin-bottom: 3.2rem;
  }

  footer .wrapper #logo-rodape{
    display: inline-block;
    margin-bottom: 2.4rem;

    font-size: 3.5rem;

  }

  footer .social-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3.2rem;
  } 

  /*Back to Top*/
  #BackToTopButton{
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;

    opacity: 0;
    visibility: hidden;

    transform: translateY(100%);
    transition: 200ms;
  }

  #BackToTopButton.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  #BackToTopButton path{
    background: none;
    stroke: var(--primary-color);
  }
/*=== RESPONSIVIDADE =================================*/
@media (min-width: 1024px){
/*=== GERAL =================================*/
.wrapper{
  width: min(112rem, 100%);
  display: grid;
}
/*=== NAVIGATION =================================*/

/*reset*/
nav#navigation .wrapper *{
  margin: 0;
  padding: 0;
  visibility: initial;
  display: initial;
  opacity: initial;
  flex-direction: initial;
  position: initial;
  font-size: initial;
  transform: initial;
  color: initial;
  font-weight: initial;
  background-color: initial;
}

nav#navigation .close-menu,
nav#navigation .open-menu,
nav#navigation .social-links{
  display: none;
}

nav#navigation .menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
nav#navigation .menu ul:nth-child(1){
  display: flex;
  gap: 3.2rem;
}

nav#navigation .menu ul li a{
  font-weight: 700;
  
}

nav#navigation .logo{
  font-weight: bold;
  font-size: 2.4rem;
}

nav#navigation a.button{
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2.4rem;

  border: 1px solid black;
  border-radius: 4rem;

  background-color: var(--secondary-color);

  
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  }

  nav#navigation .menu a.button:hover{
    background-color: var(--darker-secondary);
    transition: .5s;
  }
  nav#navigation.scroll .menu a.button:hover{
    background-color: var(--darker-primary);
    color: white;
    transition: .5s;
  }

  nav#navigation.scroll .menu a.button:hover svg path{
    fill: white;
    transition: .5s;
  }

  nav#navigation a.button svg path{
    fill: white;
  }

  nav#navigation.scroll .menu a.button{
    background-color: var(--primary-color);
    color: black;
  }

  nav#navigation.scroll a.button svg path{
    fill: black;
  }
  
  nav#navigation .menu ul li:hover{
    width: 10rem;
    border: 1px solid black;
    border-radius: 4rem;
    background-color: var(--secondary-color);
    transition: .5s;
  }
  
  nav#navigation.scroll .menu ul li:hover{
    background-color: var(--primary-color);
  }
}


  